.top-banner {
  top: 0;
  width: 100%;
  height: 40vh;
  position: absolute;
  color: white;
  z-index: 3;
}

.app-body {
  position: relative;
  margin: 160px 20px 40px;
  z-index: 6;
}

.app-row {
  position: relative;
  margin: 0 40px;
  display: flex;
  height: 40vh;
}


// LAVA LAMP
.lamp{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 42vh;
  width: 100%;
  //background: #3a0b68;
  background: linear-gradient(#052b4b, #190134);
  z-index:-1;
}

.lava{
  filter: url("#goo");
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
}

.blob{
  border-radius: 50%;
  background: linear-gradient(#61dafb, #44b8d5);
  /* Other sample colors:
  Orange: #e8630a
  Pink: #EA3281
  Fuscia: #E71669
  Purple: #661BAC
  Yellow: #FDC600
  Kermit green: #75AC25
  Light blue: #3283B5
  Dark blue: #0A5D9A
  Gunmetal: #232F37
  BGLight: #1B2735
  BGDark: #090a0f
  */
  position:absolute;
}



.blob.top{
  border-radius: 50%;
  width: 100%;
  height: 4%;
  top: -3%;
  left:0;

}
.blob.bottom{
  border-radius: 50%;
  width: 100%;
  height:4%;
  bottom: -3%;
  left:0;
}
.blob:nth-child(1){
  width: 100px;
  height: 100px;
  left: 35%;
  bottom:-15%;

  animation: wobble 2s ease-in-out alternate infinite, blob-one ease-in-out 23s infinite;
}
.blob:nth-child(2){
  width: 230px;
  height: 230px;
  right: 24%;
  bottom:-65%;

  animation: wobble 3.8s ease-in-out alternate infinite, blob-two ease-in-out 32s infinite;
}

.blob:nth-child(3){
  width: 150px;
  height: 150px;
  bottom:-15%;
  left: 34%;

  animation: wobble 4.8s ease-in-out alternate infinite, blob-three ease-in-out 26s infinite;
}
.blob:nth-child(4){
  width: 135px;
  height: 135px;
  bottom:-19%;
  left: 30%;

  animation: wobble 5s ease-in-out alternate infinite, blob-four ease-in-out 22s infinite;
}
.blob:nth-child(4){
  width: 135px;
  height: 135px;
  bottom:-19%;
  left: 30%;
  animation: wobble 4s ease-in-out alternate infinite, blob-four ease-in-out 22s infinite;
}
.blob:nth-child(5){
  width: 55px;
  height: 55px;
  bottom:-25%;
  left: 34%;

  animation: wobble 2s ease-in-out alternate infinite, blob-five ease-in-out 42s infinite;
}
.blob:nth-child(6){
  width: 35px;
  height: 35px;
  bottom:-25%;
  right: 34%;

  animation:wobble 1s ease-in-out alternate infinite,  blob-six ease-in-out 22s infinite;
}
.blob:nth-child(7){
  width: 235px;
  height: 235px;
  bottom:-85%;
  right: 40%;

  animation: wobble 2s ease-in-out alternate infinite, blob-seven ease-in-out 42s infinite;
}
@keyframes blob-one{
  0%, 100%{
    transform: translatey(0);
  }
  50%{
    transform: translatey(-700%);
  }
}

@keyframes blob-two{
  0%, 100%{
    transform: translatey(0);
  }
  50%{
    transform: translatey(-420%) translateX(10%);
  }
}

@keyframes blob-three{
  0%, 100%{
    transform: translatey(0);
  }
  50%{
    transform: translatey(-305%);
  }
}
@keyframes blob-four{
  0%, 100%{
    transform: translatey(0);
  }
  50%{
    transform: translatey(-605%);
  }
}
@keyframes blob-five{
  0%, 100%{
    transform: translatey(0);
  }
  50%{
    transform: translatey(-700%);
  }
}
@keyframes blob-six{
  0%, 100%{
    transform: translatey(0);
  }
  50%{
    transform: translatey(-700%);
  }
}
@keyframes blob-seven{
  0%, 100%{
    transform: translatey(0);
  }
  50%{
    transform: translatey(-300%);
  }
}


@keyframes wobble {
  50% {
    border-radius: 48% 64% 67% 26% / 48% 64% 67% 26%;
  }
  100% {
    border-radius: 42% 54% 80% 45% / 42% 54% 80% 45%;
  }
}

